{% extends 'base.html' %}
{% load static %}
{% block title %}Market - Sectors{% endblock %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/2.jpg' %})">
        <div class="auto-container">
            <h1>Market Sectors</h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Market Sectors</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Services Section -->
    <section class="services-page-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Our Market Sectors</h2>
            </div>
            <div class="row clearfix">

                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img
                                    src="{% static 'images/sectors/educational/DSCN7843.JPG' %}"
                                    alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'educational_trainers' %}"><i class="icon arrow-top-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'educational_trainers' %}">Educational Trainers</a>
                            </h3> <i
                                    class="icon flaticon-reading"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">Educational institutions require practical, hands-on tools to train future
                                engineers and technicians. We design training...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img
                                    src="{% static 'images/sectors/industrial/trainer.jpg' %}"
                                    alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'industrial_trainers' %}"><i class="icon arrow-top-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'industrial_trainers' %}">Industrial Trainers</a>
                            </h3> <i
                                    class="icon flaticon-engineer"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">Industrial training systems support companies in upgrading workforce
                                capabilities, improving operational...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/sectors/testing benches/ALPC0804.JPG' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'testing_benches' %}"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'testing_benches' %}">Testing Benches</a></h3> <i
                                    class="icon flaticon-conveyor"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">Right to find fault with a man who enjoy pleasure that has no annoying
                                avoids all gain that produces...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img
                                    src="{% static 'images/sectors/fabric-printing-machine-colorful-textile-designs-studio.jpg' %}"
                                    alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'textile_sector' %}"><i class="icon arrow-top-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'textile_sector' %}">Textile Sector</a></h3> <i
                                    class="icon flaticon-sewing-machine"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">The textile industry operates in a fast-paced, high-output environment
                                where precision, durability, and process...
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/sectors/cement/cement-factory.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'cement' %}"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'cement' %}">Cement Sector</a></h3>
                                <i class="icon flaticon-brick"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">The cement industry operates in some of the toughest industrial
                                environments, where heat, dust, vibration, and...
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/sectors/fmcg/fmcg1.jpeg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'fmcg' %}"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'fmcg' %}">FMCG Sector</a></h3>
                                <i class="icon flaticon-cargo"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">Fast-Moving Consumer Goods companies depend on speed, precision, and
                                reliability. Whether it is production, packaging...
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services Block -->
                <div class="services-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/sectors/chemicals/chemical4.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="{% url 'chemicals' %}"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3><a href="{% url 'chemicals' %}">Chemicals Sector</a></h3>
                                <i class="icon flaticon-drop"></i></div>
                        </div>
                        <div class="lower-content">
                            <div class="text">Chemical manufacturing demands accuracy, stability, and safety. From
                                temperature-sensitive processes to fluid control...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
