{% extends 'base.html' %}
{% load static %}
{% block title %}Market - Sectors{% endblock %}
{% block content %}    
    <!--Page Title-->
    <section class="page-title" style="background-image:url('{% static 'images/background/2.jpg'%}')">
       <div class="auto-container">
            <h1>Ship Building Industry</h1>
            <ul class="page-breadcrumb">
                <li><a href="{%url 'home'%}">Home</a></li>
                <li><a href="{% url 'market_sector'%}">Market Sectors</a></li>
                <li><a href="{% url 'ship_building_industry'%}"></a>Ship Building Industry</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side / Our Blog-->
                <div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <div class="services-single">
                        <div class="inner-box">
                            <div class="sec-title">
                                <h2>Introduction</h2>
                            </div>
                            <div class="text">
                                <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because occasionally circumstances occur in which toil and pain can procure.</p>
                                <p>Pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master builder of human happiness.</p>
                            </div>

                            <div class="two-column">
                                <div class="row clearfix">  
                                    <div class="image-column col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                        <div class="image-box"><a href="{% static 'images/resource/image-3.jpg'%}" data-fancybox="gallery"><img src="{% static 'images/resource/image-3.jpg'%}" alt=""></a></div>
                                    </div>
                                    <div class="info-column col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            
                                            <!-- Service Block Two -->
                                            <div class="service-block-two">
                                                <div class="inner-box">
                                                    <span class="icon flaticon-solar-panel-2"></span>
                                                    <h3><a href="#">Solar Energy</a></h3>
                                                    <p>There anyone who loves or pursues or desires to obtain pain of itself circumstances.</p>
                                                </div>
                                            </div>

                                            <!-- Service Block Two -->
                                            <div class="service-block-two">
                                                <div class="inner-box">
                                                    <span class="icon flaticon-small-wind-mill"></span>
                                                    <h3><a href="#">Windmills</a></h3>
                                                    <p>Master-builder of human happiness one rejects, dislikes, or avoids pleasure itself.</p>
                                                </div>
                                            </div>

                                            <!-- Service Block Two -->
                                            <div class="service-block-two">
                                                <div class="inner-box">
                                                    <span class="icon flaticon-water"></span>
                                                    <h3><a href="#">Hydropower</a></h3>
                                                    <p>Which of us ever undertakes laborious physical except obtain some advantage.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="why-us-tabs tabs-box">
                                <h3 class="title">Why Choose Us</h3>
                                <div class="row clearfix">
                                    <div class="column col-lg-4 col-md-12 col-sm-4 col-xs-12">
                                        <ul class="tab-buttons">
                                            <li data-tab="#tab-1" class="tab-btn active-btn">Clean Unpolluted</li>
                                            <li data-tab="#tab-2" class="tab-btn ">Lasting & Long Term</li>
                                            <li data-tab="#tab-3" class="tab-btn ">Easy & Affortable</li>
                                            <li data-tab="#tab-4" class="tab-btn ">Generated From Nature</li>
                                        </ul>
                                    </div>
                                    <div class="column col-lg-8 col-md-12 col-sm-8 col-xs-12">
                                        <div class="tabs-content">
                                            <!--Tab / Active Tab-->
                                            <div class="tab active-tab" id="tab-1">
                                                <strong>Expound the actual teachings of the great explorer of the truth know how to pursue pleasure rationally .</strong>
                                                <div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure example, which of us ever undertakes.</div>
                                                <ul class="clearfix">
                                                    <li>Undertakes laborious physical</li>
                                                    <li>Except to obtain advantage</li>
                                                    <li>Any right find fault pleasure</li>
                                                    <li>Great explorer of the truth itself</li>
                                                </ul>
                                            </div>

                                            <!--Tab-->
                                            <div class="tab" id="tab-2">
                                                <strong>Expound the actual teachings of the great explorer of the truth know how to pursue pleasure rationally .</strong>
                                                <div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure example, which of us ever undertakes.</div>
                                                <ul class="clearfix">
                                                    <li>Undertakes laborious physical</li>
                                                    <li>Except to obtain advantage</li>
                                                    <li>Any right find fault pleasure</li>
                                                    <li>Great explorer of the truth itself</li>
                                                </ul>
                                            </div>

                                            <!--Tab-->
                                            <div class="tab" id="tab-3">
                                                <strong>Expound the actual teachings of the great explorer of the truth know how to pursue pleasure rationally .</strong>
                                                <div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure example, which of us ever undertakes.</div>
                                                <ul class="clearfix">
                                                    <li>Undertakes laborious physical</li>
                                                    <li>Except to obtain advantage</li>
                                                    <li>Any right find fault pleasure</li>
                                                    <li>Great explorer of the truth itself</li>
                                                </ul>
                                            </div>

                                            <!--Tab-->
                                            <div class="tab" id="tab-4">
                                                <strong>Expound the actual teachings of the great explorer of the truth know how to pursue pleasure rationally .</strong>
                                                <div class="text">Desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure example, which of us ever undertakes.</div>
                                                <ul class="clearfix">
                                                    <li>Undertakes laborious physical</li>
                                                    <li>Except to obtain advantage</li>
                                                    <li>Any right find fault pleasure</li>
                                                    <li>Great explorer of the truth itself</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="feature-info-block">
                                <h3 class="title">Research & Development</h3>
                                <div class="row clearfix">
                                    <div class="info-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <div class="inner-column">
                                            <p>Great explorer of the truth, master-builder human happiness one rejects dislikes or avoids pleasure itself because consequences that are extremely painful.</p>
                                            <ul>
                                                <li>Production technques (e.g. irrigation managment)</li>
                                                <li>Improving agriculture terms of quantity</li>
                                                <li>Minimizing the effects of pests (weeds, insects, pathogens, nematodes)</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="image-column col-lg-6 col-md-12 col-sm-12 col-xs-12">
                                        <figure class="image"><img src="{% static 'images/resource/image-4.jpg'%}" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <aside class="sidebar">
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <ul class="services-cat">
                                <li><a href="market-sector-single.html">Construction Products</a></li>
                                <li><a href="aero-space-services.html">Aero Space Services</a></li>
                                <li><a href="railway-infrastructure.html">Railway Infrastructure</a></li>
                                <li class="active"><a href="ship-building-industry.html">Ship Building Industry</a></li>
                                <li><a href="power-and-energy.html">Power & Energy</a></li>
                                <li><a href="automative-system.html">Automative System</a></li>
                            </ul>
                        </div>
                        
                        <!--Brochure-->
                        <div class="sidebar-widget brochure-widget">
                            <h3>Our Brochures</h3>
                            <div class="link-box">
                                <span class="icon fa fa-file-pdf-o"></span>
                                <h5>Service Overview</h5>
                                <a href="#">Download.pdf</a>
                            </div>
                            <div class="link-box">
                                <span class="icon fa fa-file-word-o"></span>
                                <h5>About Our Company</h5>
                                <a href="#">Download.txt</a>
                            </div>
                        </div>
                        
                        <!--Contact Widhet-->
                        <div class="sidebar-widget testimonials-widget">
                            <h3>Testimonials</h3>
                            <div class="testimonial-carousel owl-carousel owl-theme">
                                <div class="testimonial-block-three">
                                    <div class="info">
                                        <div class="thumb"><img src="{% static 'images/resource/thumb-12.jpg' %}" alt=""></div>
                                        <h5 class="name">Teena Venanda</h5>
                                        <span class="city">Newyork</span>
                                    </div>
                                    <div class="text">Must explain too you how that mistaken idea denoncing sed all pleasure & praising pain was and will give all actual human .</div>
                                </div>

                                <div class="testimonial-block-three">
                                    <div class="info">
                                       <div class="thumb"><img src="{% static 'images/resource/thumb-12.jpg' %}" alt=""></div>
                                        <h5 class="name">Teena Venanda</h5>
                                        <span class="city">Newyork</span>
                                    </div>
                                    <div class="text">Must explain too you how that mistaken idea denoncing sed all pleasure & praising pain was and will give all actual human .</div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>                
            </div>
        </div>
    </div>
    <!-- End Sidebar Page Container -->
    <!-- Contact Section -->
    <section class="contact-section style-two">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="title-column col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Request a Quote</h2>
                        </div>
                        <div class="text">Your details are kept strictly confidential as per our company private & privacy policy.</div>
                        <div class="link-box"><a href="#"><i class="fa fa-hand-o-right"></i> Contact Us</a></div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="text">For Business: For Business inquiry fill our feedback form and Troll Free Number - (+91) 00-700-6202, our team will help you with in 24 hours.</div>
                        <!--Contact Form-->
                        <div class="contact-form">
                            <form method="post" action="index-2.html">
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="username" value="" placeholder="Your Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Email Address" required>
                                        </div>
                                        <div class="form-group">
                                            <select class="custom-select-box">
                                                <option>Select Service</option>
                                                <option>Select Service</option>
                                                <option>Select Service</option>
                                                <option>Select Service</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" class="theme-btn">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section -->
{% endblock %}