{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
        
    <!--Page Title-->
    <section class="page-title" style="background-image:url({%static 'images/background/2.'%}jpg)">
        <div class="auto-container">
            <h1>Projects</h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url 'home'%}">Home</a></li>
                <li>Projects</li>
               
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Project Section Two -->
    <section class="projects-section-two">
        <div class="auto-container">

             <!--MixitUp Galery-->
            <div class="mixitup-gallery">
                <div class="inner-container clearfix">
                    <!--Filter-->
                    <div class="filters text-center clearfix">                     
                        <ul class="filter-tabs filter-btns clearfix">
                            <li class="filter active" data-role="button" data-filter="all"><h5>View All</h5></li>
                            <li class="filter" data-role="button" data-filter=".engineering"><h5>Engineering</h5></li>
                            <li class="filter" data-role="button" data-filter=".construction"><h5>Construction</h5></li>
                            <li class="filter" data-role="button" data-filter=".power"><h5>Power & Energy</h5></li>
                            <li class="filter" data-role="button" data-filter=".agriculture"><h5>Agriculture</h5></li>
                        </ul>
                    </div>
                </div>

                <div class="filter-list row clearfix">
                    <!-- Project Block -->
                    <div class="project-block-two mix all power construction col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/1.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/1.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Rail Engine Manufacture</a></h4>
                            <span class="tag">Engineering</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering power agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/2.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/2.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">US Gas Company Masrani</a></h4>
                            <span class="tag">Power & Energy</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering power agriculture construction col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/3.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/3.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Generate Natural Power</a></h4>
                            <span class="tag">Engineering</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering power agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/4.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/4.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Petroleum Tank Pipe</a></h4>
                            <span class="tag">Power & Energy</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering construction agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/5.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/5.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Boston Tailway Station</a></h4>
                            <span class="tag">Construction</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering power construction col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/6.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/6.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">CNF Machine Engineering</a></h4>
                            <span class="tag">Engineering</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/7.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/7.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Sydney Harbour Bridge</a></h4>
                            <span class="tag">Engineering</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/8.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/8.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Rail Engine Manufacture</a></h4>
                            <span class="tag">Construction</span>
                        </div>
                    </div>

                    <!-- Project Block -->
                    <div class="project-block-two mix all engineering agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/9.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/9.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Malasia Logostic Port</a></h4>
                            <span class="tag">Power & Energy</span>
                        </div>
                    </div>
                </div>
            </div>

              <!-- Project Block -->
                    <div class="project-block-two mix all engineering agriculture col-md-4 col-sm-6 col-xs-12">
                        <div class="image-box">
                            <figure><img src="{%static 'images/gallery/9.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <a href="{%static 'images/gallery/9.jpg'%}" class="lightbox-image" data-fancybox="Gallery"><span class="fa fa-search-plus"></span></a>
                            </div>
                        </div>
                        <div class="content-box">
                            <h4><a href="projects-single.html">Malasia Logostic Port</a></h4>
                            <span class="tag">Power & Energy</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Styled Pagination -->
            <div class="styled-pagination text-center">
                <ul class="clearfix">
                    <li><a class="prev" href="#"><span class="fa fa-angle-left"></span></a></li>
                    <li><a href="#" class="active">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a class="next" href="#"><span class="fa fa-angle-right"></span></a></li>
                </ul>
            </div>
        </div>
    </section>
    <!-- End Project Section Two -->
{% endblock %}