
{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Machinery{% endblock %}
{% block content %}
<div id="minimal-bootstrap-carousel" class="carousel slide carousel-fade slider-home-one" data-ride="carousel">
    <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="item active hero-banner" style="background-image: url({% static 'images/main-slider/banner-1-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption text-right">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Welcome to</h3>
                                <h1>Machinery World</h1>
                                <p class="text">Delivering industrial excellence with over 24 years of experience and innovation.</p>
                                <a href="{% url 'power_energy'%}" class="theme-btn btn-style-one">Power Energy</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Market Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 2 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-1-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Strong Foundation of</h3>
                                <h1>Industrial Growth</h1>
                                <p class="text">Pioneering mechanical solutions to meet the challenges of tomorrow’s industries.</p>
                                <a href="#" class="theme-btn btn-style-one">Discover More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Our Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 3 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-1-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Innovation Meets</h3>
                                <h1>Engineering</h1>
                                <p class="text">Our machinery is designed with precision, efficiency, and long-term durability in mind.</p>
                                <a href="#" class="theme-btn btn-style-one">Explore</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two"> Market Sector</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 4 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-2-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Building the Future of</h3>
                                <h1>Industrial Machines</h1>
                                <p class="text">Our mission is to modernize the global manufacturing industry with advanced machinery.</p>
                                <a href="{% url 'construction_products'%}" class="theme-btn btn-style-one">Construction Products</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Our Markets</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 5 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-2-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Precision in Every</h3>
                                <h1>Movement</h1>
                                <p class="text">Empowering industries through accuracy, technology, and reliability.</p>
                                <a href="#" class="theme-btn btn-style-one">Explore More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Our Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 6 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-2-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Driven by</h3>
                                <h1>Innovation</h1>
                                <p class="text">We combine creativity with engineering excellence to build industrial solutions that last.</p>
                                <a href="#" class="theme-btn btn-style-one">Learn More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Industries</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 7 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-3-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Your Partner in</h3>
                                <h1>Industrial Excellence</h1>
                                <p class="text">From design to production, we ensure every machine defines perfection.</p>
                                <a href="#" class="theme-btn btn-style-one">Contact Us</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">See Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 8 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-3-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Experience the Power of</h3>
                                <h1>Modern Machinery</h1>
                                <p class="text">High-performance solutions engineered for heavy-duty industries worldwide.</p>
                                <a href="#" class="theme-btn btn-style-one">Explore</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Merket Sector</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 9 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-3-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Empowering</h3>
                                <h1>Industrial Systems</h1>
                                <p class="text">Integrating innovation, power, and precision to shape the future of manufacturing.</p>
                                <a href="#" class="theme-btn btn-style-one">Get Started</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 10 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-4-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Quality You Can</h3>
                                <h1>Trust</h1>
                                <p class="text">Setting new benchmarks in industrial equipment and mechanical excellence.</p>
                                <a href="#" class="theme-btn btn-style-one">Discover</a>
                                <a href="{% url 'railway_infastracture' %}" class="theme-btn btn-style-two">RailWay Infastruture</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 11 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-4-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Advanced</h3>
                                <h1>Engineering Solutions</h1>
                                <p class="text">Our technology helps industries achieve higher productivity and precision.</p>
                                <a href="#" class="theme-btn btn-style-one">Explore</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Industries</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 12 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-4-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Smart Industrial</h3>
                                <h1>Automation</h1>
                                <p class="text">Bringing smart engineering and digital solutions to the industrial world.</p>
                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 13 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-5-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Connecting</h3>
                                <h1>Technology & Industry</h1>
                                <p class="text">Where mechanical innovation meets digital transformation.</p>
                                <a href="#" class="theme-btn btn-style-one">Learn More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">View Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 14 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-5-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Future of</h3>
                                <h1>Industrial Revolution</h1>
                                <p class="text">Empowering industries with technology, precision, and sustainable innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Get Started</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Explore Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Slide 15 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-5-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Future of</h3>
                                <h1>Industrial Revolution</h1>
                                <p class="text">Empowering industries with technology, precision, and sustainable innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Get Started</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Explore Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Slide 16 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-6-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Future of</h3>
                                <h1>Industrial Revolution</h1>
                                <p class="text">Empowering industries with technology, precision, and sustainable innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Get Started</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Explore Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Slide 17 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-6-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Connecting</h3>
                                <h1>Technology & Industry</h1>
                                <p class="text">Where mechanical innovation meets digital transformation.</p>
                                <a href="#" class="theme-btn btn-style-one">Learn More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">View Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 18 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-6-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption text-right">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Welcome to</h3>
                                <h1>Machinery World</h1>
                                <p class="text">Delivering industrial excellence with over 24 years of experience and innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Market Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 19 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-7-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Strong Foundation of</h3>
                                <h1>Industrial Growth</h1>
                                <p class="text">Pioneering mechanical solutions to meet the challenges of tomorrow’s industries.</p>
                                <a href="#" class="theme-btn btn-style-one">Discover More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Our Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

          <!-- Slide 20 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-7-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Connecting</h3>
                                <h1>Technology & Industry</h1>
                                <p class="text">Where mechanical innovation meets digital transformation.</p>
                                <a href="#" class="theme-btn btn-style-one">Learn More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">View Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- Slide 21 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-7-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption text-right">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Welcome to</h3>
                                <h1>Machinery World</h1>
                                <p class="text">Delivering industrial excellence with over 24 years of experience and innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Market Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- Slide 22 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-8-1.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Connecting</h3>
                                <h1>Technology & Industry</h1>
                                <p class="text">Where mechanical innovation meets digital transformation.</p>
                                <a href="#" class="theme-btn btn-style-one">Learn More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">View Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Slide 23 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-8-2.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Future of</h3>
                                <h1>Industrial Revolution</h1>
                                <p class="text">Empowering industries with technology, precision, and sustainable innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Get Started</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Explore Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
         <!-- Slide 24 -->
        <div class="item hero-banner" style="background-image: url({% static 'images/main-slider/banner-8-3.jpg' %}); background-position: center center; background-size: cover;">
            <div class="carousel-caption text-right">
                <div class="container">
                    <div class="box valign-middle">
                        <div class="content">
                            <div class="main-banner-content" data-animation="animated fadeInUp">
                                <h3 class="title">Welcome to</h3>
                                <h1>Machinery World</h1>
                                <p class="text">Delivering industrial excellence with over 24 years of experience and innovation.</p>
                                <a href="#" class="theme-btn btn-style-one">Read More</a>
                                <a href="{% url 'market_sector' %}" class="theme-btn btn-style-two">Market Sectors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Controls -->
<a class="left carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="prev">
    <i class="fa fa-angle-left"></i>
    <span class="sr-only">Previous</span>
</a>

<a class="right carousel-control" href="#minimal-bootstrap-carousel" role="button" data-slide="next">
    <i class="fa fa-angle-right"></i>
    <span class="sr-only">Next</span>
</a>

<!-- Indicators -->
<ul class="carousel-indicators list-inline custom-navigation">
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="1"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="2"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="3"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="4"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="5"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="6"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="7"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="8"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="9"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="10"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="11"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="12"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="13"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="14"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="15"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="16"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="17"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="18"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="19"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="20"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="21"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="22"></li>
    <li data-target="#minimal-bootstrap-carousel" data-slide-to="23"></li>
</ul>

</div>

    <!-- Highlights -->
    <div class="highlights dark-bg">
        <div class="auto-container">        
            <div class="highlight-carousel owl-carousel owl-theme">
                <!-- Highlight Block -->
                <div class="highlight-block">
                    <div class="inner-box">
                        <div class="icon-box"><span class="machinery-icon-factory"></span></div>
                        <div class="text">Registration with Pakistan <span>  Engineering Council (PEC)</span> 
                            ensuring compliance with national engineering standards.
                        </div>
                    </div>
                </div>

               
                <!-- Highlight Block -->
                <div class="highlight-block">
                    <div class="inner-box">
                        <div class="icon-box"><span class="machinery-icon-factory"></span></div>
                        <div class="text">Registration with <span>Karachi Chamber of Commerce & Industry (KCCI)</span>
                            affirming our credibility and active participation.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Highlights -->

    <!-- Services Section -->
    <section class="services-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4>Our Services</h4>
                <h2>Our Market Sectors</h2>
            </div>

            <div class="services-carousel owl-carousel owl-theme">

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">  
                          <figure>
                            <img src="{% static 'images/resource/service-1.jpg' %}" alt="">
                            </figure>   
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Construction Products</h3> <i class="icon flaticon-user-1"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/service-2.jpg' %}" alt=""></figure>
                              
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Aero Space Services</h3> <i class="icon flaticon-departures-1"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/service-2.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Railway Infrastructure</h3> <i class="icon flaticon-railway-1"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/service-1.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Construction Products</h3> <i class="icon flaticon-user-1"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/service-2.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Aero Space Services</h3> <i class="icon flaticon-departures-1"></i></div>
                        </div>
                    </div>
                </div>

                <!-- Services Block -->
                <div class="services-block">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/service-2.jpg' %}" alt=""></figure>
                            <div class="overlay-box">
                                <div class="btn-box">
                                    <a href="#"><i class="icon arrow-top-right"></i>Read More</a>
                                </div>
                            </div>
                            <div class="title"><h3>Railway Infrastructure</h3> <i class="icon flaticon-railway-1"></i></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- info box -->
            <div class="info-box">
                <h3>Since 1964, We provide best solutions for our valuable customers.</h3>
                <a href="#"><i class="icon flaticon-email"></i>Getaquote@Machinery.com</a>
            </div>
        </div>
    </section>
    <!--End Services Section -->

    <!-- What We Do -->
    <section class="what-we-do">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Content -->
                <div class="content-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title light">
                            <h4>Fun facts</h4>
                            <h2>What We Achived?</h2>
                            <h5>Strength and growth comes only through continuous effort & struggle.</h5>
                        </div>

                        <div class="info-box clearfix">
                            <span class="icon machinery-icon-worldwide"></span>
                            <span class="count">148 <span class="plus">+</span></span>
                            <span class="title"><span>Branches Worldwide</span></span>
                        </div>

                        <div class="text">Over 148+ branches  indignation & dislike men who beguiled demoralized <br> by the charms of pleasure of the moment, so blinded by desire, that they <br> cannot foresee the pain and over all trouble.</div>
                        <a href="#" class="more-btn"><i class="machinery-icon-next"></i> Locate Our Branches</a>
                    </div>
                </div>

                <!-- Video Column -->
                <div class="video-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                      <figure class="image">
                        <img src="{% static 'images/resource/video-img.jpg' %}" alt="">
                        <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="link" data-fancybox="gallery" data-caption="">
                            <span class="icon fa fa-play-circle"></span>
                        </a>
                    </figure>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End What We Do -->

    <!-- About Us -->
    <section id="about-company" class="about-us">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Info Column -->
                <div class="info-column col-md-6 col-sm-12 col-xs-12">
                    <div class="sec-title">
                        <h4>Company</h4>
                        <h2>About Our Company</h2>
                    </div>
                    <div class="about-company">
                        <h4>We are leading manufacturing company in european <br> countries, serving sice 1964.</h4>
                        <div class="info-tabs tabs-box">
                            <ul class="tab-buttons">
                                <li data-tab="#info-tab-1" class="tab-btn active-btn">About Company</li>
                                <li data-tab="#info-tab-2" class="tab-btn ">Our Mission</li>
                                <li data-tab="#info-tab-3" class="tab-btn ">Our Vission</li>
                            </ul>

                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="info-tab-1">                         
                                    <h3>We are Reliable & Experienced manufacturing Company.</h3>
                                    <div class="text">Built enviable reputation in consumer goods, heavy industry, high tech, manufacturing, medical, vehicle  our  works sectors multi disciplinary team of engineering & experts, who  pursues desires.</div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="info-tab-2">                         
                                    <h3>We are Reliable & Experienced manufacturing Company.</h3>
                                    <div class="text">Built enviable reputation in consumer goods, heavy industry, high tech, manufacturing, medical, vehicle  our  works sectors multi disciplinary team of engineering & experts, who  pursues desires.</div>
                                </div>

                                <!--Tab-->
                                <div class="tab" id="info-tab-3">                         
                                    <h3>We are Reliable & Experienced manufacturing Company.</h3>
                                    <div class="text">Built enviable reputation in consumer goods, heavy industry, high tech, manufacturing, medical, vehicle  our  works sectors multi disciplinary team of engineering & experts, who  pursues desires.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- List Column -->
                <div class="list-column col-md-6 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <!-- About Block -->
                        <div class="about-block">
                            <div class="inner-box">
                                <span class="icon icon-gear"></span>
                                <h4><a href="market-sector.html">Smart Technology</a></h4>
                                <div class="text">Encounter consequences that are extremely our painful again is there desires.</div>
                            </div>
                        </div>

                        <!-- About Block -->
                        <div class="about-block">
                            <div class="inner-box">
                                <span class="icon icon-clock"></span>
                                <h4><a href="market-sector.html">Punctual Delivery Time</a></h4>
                                <div class="text">To take trivial example, which of us ever physical except to obtain some advantage.</div>
                            </div>
                        </div>

                        <!-- About Block -->
                        <div class="about-block">
                            <div class="inner-box">
                                <span class="icon icon-worker"></span>
                                <h4><a href="market-sector.html">Team of Professionals</a></h4>
                                <div class="text">Any right to find fault with a man who chooses to enjoy a pleasure that has no annoying..</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->

    <!-- Project Section -->
    <section class="project-section" style="background-image: url(images/background/1.jpg);">
        <div class="auto-container">
            <div class="sec-title light text-center">
                <h4>Our Works</h4>
                <h2>Latest Projects</h2>
            </div>
            
            <!--Carousel Box-->
            <div class="carousel-box">
                <div class="project-carousel owl-carousel owl-theme">
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                          <figure>
                                <a href="{% static 'images/resource/project-1.jpg' %}" class="ligtbox-image" data-fancybox="gallery">
                                    <img src="{% static 'images/resource/project-1.jpg' %}" alt="">
                                </a>
                            </figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Rail Engine Manufacture</a></h3>
                                <span class="tag">Engineering</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                            <figure><a href="{% static 'images/resource/project-2.jpg' %}" class="ligtbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-2.jpg' %}" alt=""></a></figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Rail Engine Manufacture</a></h3>
                                <span class="tag">Construction</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                           <figure><a href="{% static 'images/resource/project-3.jpg' %}" class="ligtbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-3.jpg' %}" alt=""></a></figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Generate Natural Power</a></h3>
                                <span class="tag">Power & Energy</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                            <figure><a href="{% static 'images/resource/project-1.jpg' %}" class="ligtbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-1.jpg' %}" alt=""></a></figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Rail Engine Manufacture</a></h3>
                                <span class="tag">Engineering</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                          <figure><a href="{% static 'images/resource/project-2.jpg' %}" class="ligtbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-2.jpg' %}" alt=""></a></figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Rail Engine Manufacture</a></h3>
                                <span class="tag">Construction</span>
                            </div>
                        </div>
                    </div>
    
                    <!-- Project Block -->
                    <div class="project-block">
                        <div class="image-box">
                           <figure><a href="{% static 'images/resource/project-3.jpg' %}" class="ligtbox-image" data-fancybox="gallery"><img src="{% static 'images/resource/project-3.jpg' %}" alt=""></a></figure>
                            <div class="title-box">
                                <h3><a href="projects-single.html">Generate Natural Power</a></h3>
                                <span class="tag">Power & Energy</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Project Section -->
    <section class="request-qoute-title-block bg-gray">
        <div class="auto-container">
            <div class="sec-title text-center">
                <h4>Ask Our Expert</h4>
                <h2>Request For Free Quote</h2>
                <div class="text">Your details are kept strictly confidential as per our company privacy policy, Pleasure & praising <br> was we will give you a complete.</div><!-- /.text -->
            </div><!-- /.sec-title -->
        </div><!-- /.auto-container -->
    </section><!-- /.request-qoute-block -->
        <!-- Contact Section -->
    <section class="contact-section request-qoute-content-block">
        <div class="auto-container">
            <div class="row clearfix no-gutters">
                <!-- Title Column -->
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <img src="{% static 'images/resource/customer_care.jpg' %}" style="width: 100%;" alt="Awesome Image"/>
                        <div class="overlay-box">
                            <div class="inner-box">
                                <div class="content">
                                </div><!-- /.content -->
                            </div><!-- /.inner-box -->
                        </div><!-- /.overlay-box -->
                    </div>
                </div>
<!-- 🌐 HOME PAGE CONTACT FORM -->
<div class="form-column col-md-8 col-sm-12 col-xs-12">
  <div class="inner-column">
    <div class="text">
      For Business: For Business inquiry fill our feedback form and Troll Free Number - (+91) 00-700-6202, our team will help you within 24 hours.
    </div>

    <div class="contact-form">
      <form id="homeContactForm" method="post" action="{% url 'contact_us' %}">
        {% csrf_token %}
        <div class="row clearfix">
          <div class="column col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <input type="text" name="username" placeholder="Your Name" required />
            </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email Address" required />
            </div>
          </div>

          <div class="column col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
              <textarea name="message" placeholder="Your Message..." required></textarea>
            </div>

            <div class="form-group" style="text-align:center;">
              <button type="submit" class="theme-btn" id="homeSubmitBtn">Submit Now</button>

              <!-- 🔵 Loader -->
              <div id="homeLoader" 
                   style="display:none; 
                          margin:10px auto; 
                          border:4px solid #f3f3f3; 
                          border-top:4px solid #0056b3; 
                          border-radius:50%; 
                          width:40px; 
                          height:40px; 
                          animation:spin 1s linear infinite;">
              </div>
            </div>
          </div>
        </div>
      </form>

      <!-- ✅ Popup Message -->
      <div id="homePopupMessage" 
           style="display:none; 
                  text-align:center; 
                  background:linear-gradient(135deg, #346599, #0056b3); 
                  color:white; 
                  padding:15px; 
                  border-radius:8px; 
                  margin-top:10px; 
                  box-shadow:0 4px 10px rgba(0,0,0,0.2); 
                  font-family:'Poppins', sans-serif;">
        <h2 id="homePopupTitle"></h2>
        <p>Your message has been sent successfully. We’ll contact you soon.</p>
      </div>
    </div>
  </div>
</div>

<!-- 🔁 Spinner Animation -->
<style>
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<!-- ✅ jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- ✅ AJAX Script -->
<script>
$(document).ready(function() {
    console.log("✅ Home page AJAX contact form ready");

    // Get CSRF token
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
            const cookies = document.cookie.split(";");
            for (let cookie of cookies) {
                cookie = cookie.trim();
                if (cookie.substring(0, name.length + 1) === (name + "=")) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getCookie("csrftoken");

    $("#homeContactForm").on("submit", function(e) {
        e.preventDefault();
        e.stopPropagation();

        const form = $(this);
        const url = form.attr("action");
        const formData = form.serialize();

        // Show Loader + Disable Button
        $("#homeLoader").show();
        $("#homeSubmitBtn").prop("disabled", true).text("Sending...");

        $.ajax({
            type: "POST",
            url: url,
            data: formData,
            headers: { "X-CSRFToken": csrftoken },
            success: function(response) {
                $("#homeLoader").hide();
                $("#homeSubmitBtn").prop("disabled", false).text("Submit Now");

                if (response.status === "success") {
                    $("#homePopupTitle").text("Thank you, " + response.name + "!");
                    $("#homePopupMessage").fadeIn();

                    setTimeout(function() {
                        $("#homePopupMessage").fadeOut();
                        form.trigger("reset");
                    }, 3000);
                } else {
                    alert("⚠️ Error: " + response.message);
                }
            },
            error: function(xhr, status, error) {
                $("#homeLoader").hide();
                $("#homeSubmitBtn").prop("disabled", false).text("Submit Now");
                console.error("❌ AJAX error:", status, error);
                alert("Something went wrong! Check console.");
            }
        });
    });
});
</script>

                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section -->

    <!-- News Section -->
    <section class="news-section">
        <div class="auto-container">
           
                
                   
        </div>
    </section>
    <!--End News Section -->

{% endblock %}
