{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}
{% block content %}
        
    <!--Page Title-->
    <section class="page-title" style="background-image:url({% static 'images/background/2.jpg'%})">
        <div class="auto-container">
            <h1>Products</h1>
            <ul class="page-breadcrumb">
                <li><a href="{% url 'home'%}">Home</a></li>
                {% comment %} <li>Shop</li> {% endcomment %}
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side-->
                <div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Shop Single-->
                    <div class="shop-section">
                        
                        <!--Sort By-->
                        <div class="items-sorting">
                            <div class="row clearfix">
                                <div class="results-column col-md-6 col-sm-6 col-xs-12">
                                    <h4>Showing 1-9 of 12 results</h4>
                                </div>
                                <div class="select-column pull-right col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <select name="sort-by">
                                            <option>Default Sorting</option>
                                            <option>By Order</option>                        
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row clearfix">  
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                           <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/8.jpg'%}" alt="" />
                                                </div>
                                                    </div>
                                                    <div class="lower-content">
                                                <div class="price-box">
                                            <h3><a href="shop-single.html">Win Your Friends</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Shop Item-->
                            <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                <div class="inner-box">
                                    <div class="image-box">
                                        <div class="image">
                                            <img src="{% static 'images/resource/products/9.jpg'%}" alt="" />
                                               </div>
                                                    </div>
                                                    <div class="lower-content">
                                                    <div class="price-box">
                                            <h3><a href="shop-single.html">Business Adventures</a></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    
                        <!--Styled Pagination-->
                        <ul class="styled-pagination text-center">
                            <li class="prev"><a href="#"><span class="fa fa-chevron-left"></span></a></li>
                            <li><a href="#" class="active">1</a></li>
                            <li><a href="#">2</a></li>
                            <li class="next"><a href="#"><span class="fa fa-chevron-right"></span></a></li>
                        </ul>                
                        <!--End Styled Pagination-->
                    
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar shop-sidebar">
                        
                        <!-- Search -->
                        <div class="sidebar-widget search-box style-two">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="blog-cat">
                                <li><a href="#">Business Growth </a></li>
                                <li class="active"><a href="#">Consulting </a></li>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Customer Insights</a></li>
                                <li><a href="#">Organization</a></li>
                            </ul>
                        </div>
                       
{% endblock %}