{% extends 'base.html' %}
{% load static %}
{% block title %}Market - Sectors{% endblock %}
{% block content %}
    <!--Page Title-->
    <section class="page-title" style="background-image:url('{% static 'images/background/2.jpg'%}')">
        <div class="auto-container">
            <h1>Product Single</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Shop</li>
                <li>Product Single</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side-->
                <div class="content-side pull-right col-lg-9 col-md-8 col-sm-12 col-xs-12">
                    <!--Shop Single-->
                    <div class="shop-single">
                        <div class="product-details">
                            
                            <!--Basic Details-->
                            <div class="basic-details">
                                <div class="row clearfix">
                                    <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                        <figure class="image-box"><a href="{% static 'images/resource/products/10.jpg'%}" class="lightbox-image" title="Image Caption Here"><img src="{% static 'images/resource/products/10.jpg'%}" alt=""></a></figure>
                                    </div>
                                    <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                        <div class="text">
                                            <p>Working from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughday Working from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughday.Working from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughday.Working from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughdayWorking from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughday.Working from home meant we couldsnack and coffee breaks change our desks or view, good, drink on the job, even spend the weather started getting roughday...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Basic Details end -->
                            
                            <!--Related Products-->
                            <div class="related-products">
                                <h2>Related Products</h2>
                                <div class="row clearfix">
                                     <!--Shop Item-->
                                     <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <div class="image">
                                                    <img src="{% static 'images/resource/products/3.jpg'%}" alt="" />
                                                </div>
                                            </div>
                                            <div class="lower-content">
                                                <div class="price-box">
                                                    <h3><a href="shop-single.html">Business Adventures</a></h3>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--Shop Item-->
                                    <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <div class="image">
                                                    <img src="{% static 'images/resource/products/3.jpg'%}" alt="" />
                                                </div>
                                            </div>
                                            <div class="lower-content">
                                                <div class="price-box">
                                                    <h3><a href="shop-single.html">Business Adventures</a></h3>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <!--Shop Item-->
                                    <div class="shop-item col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <div class="inner-box">
                                            <div class="image-box">
                                                <div class="image">
                                                    <img src="{% static 'images/resource/products/3.jpg'%}" alt="" />
                                                </div>
                                            </div>
                                            <div class="lower-content">
                                                <div class="price-box">
                                                    <h3><a href="shop-single.html">Business Adventures</a></h3>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side col-lg-3 col-md-4 col-sm-12 col-xs-12">
                    <aside class="sidebar shop-sidebar">
                        <!-- Search -->
                        <div class="sidebar-widget search-box style-two">
                            <form method="post" action="contact.html">
                                <div class="form-group">
                                    <input type="search" name="search-field" value="" placeholder="Search..." required>
                                    <button type="submit"><span class="icon fa fa-search"></span></button>
                                </div>
                            </form>
                        </div>
                        
                        <!--Blog Category Widget-->
                        <div class="sidebar-widget sidebar-blog-category">
                            <div class="sidebar-title">
                                <h2>Categories</h2>
                            </div>
                            <ul class="blog-cat">
                                <li><a href="#">Business Growth </a></li>
                                <li class="active"><a href="#">Consulting </a></li>
                                <li><a href="#">Management</a></li>
                                <li><a href="#">Customer Insights</a></li>
                                <li><a href="#">Organization</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
{% endblock %}