
{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Machinery{% endblock %}
{% block content %}

    <!--Page Title-->
    <section class="page-title" style="background-image:url({%static 'images/background/2.jpg'%})">
        <div class="auto-container">
            <h1>Contact Us</h1>
            <ul class="page-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li>Contact Us</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!-- Contact Section Two -->
    <section class="contact-section-two">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Get Touch With Us</h2>
                <div class="text">We have 74 branches in US and 145 branches in world wide, you can reach any branch at your desk, our experts will help you 24/7.</div>
            </div>
            <div class="row clearfix">
                <div class="carousel-column col-md-7 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="branches-carousel owl-carousel owl-theme">
                            <div class="slide">
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-1.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">Newyork City</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>Newyork, USA 1002.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-2.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">California</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>California, USAv 90001.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-1.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">Newyork City</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>Newyork, USA 1002.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-2.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">California</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>California, USAv 90001.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slide">
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-1.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">Newyork City</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>Newyork, USA 1002.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-2.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">California</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>California, USAv 90001.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="slide">
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-1.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">Newyork City</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>Newyork, USA 1002.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="branch-info-box">
                                    <div class="row clearfix">
                                        <div class="image-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="image"><a href="#"><img src="{%static 'images/resource/branch-2.jp'%}g" alt=""></a></div>
                                        </div>
                                        <div class="info-column col-md-6 col-sm-6 col-xs-12">
                                            <div class="lucation">California</div>
                                            <ul>
                                                <li>
                                                    <span class="icon flaticon-place"></span>
                                                    <h5>Big Smart Str, 2nd Cross</h5>
                                                    <p>California, USAv 90001.</p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-support"></span>
                                                    <h5>Call Us On</h5>
                                                    <p><a href="#">1-800-784-533 & 544</a></p>
                                                </li>

                                                <li>
                                                    <span class="icon flaticon-plane"></span>
                                                    <h5>Mail Us at</h5>
                                                    <p><a href="#">Machinery@Support.com</a></p>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="map-column col-md-5 col-sm-12 col-xs-12">
                    <div class="map-outer">
                        <!--Map Canvas-->
                        <div class="map-canvas"
                            data-zoom="12"
                            data-lat="-37.817085"
                            data-lng="144.955631"
                            data-type="roadmap"
                            data-hue="#ebe70cff"
                            data-title="Envato"
                            data-icon-path="{%static 'images/icons/map-marker.png'%}"
                            data-content="Melbourne VIC 3000, Australia<br><a href='mailto:info@youremail.com'>info@youremail.com</a>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Section Two -->


    <!-- Contact Form Section -->
    <section class="contact-form-section">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Title Column -->
                <div class="image-column col-md-4 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="image"><img src="{%static 'images/resource/image-6.png'%}" alt=""></div>
                    </div>
                </div>

                <!-- Form Column -->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Send Message Us</h2>
                            <div class="text">Don’t hestiate to ask us something, Our customer support team always ready to help you,they will support you 24/7.</div>
                        </div>
                        <!--Contact Form-->
                        <div class="contact-form style-two">
                            <form method="post" action="sendemail.php" id="contact-form">
                                <div class="row clearfix">
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <input type="text" name="username" value="" placeholder="Your Name*" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" value="" placeholder="Email Address*" required>
                                        </div>

                                        <div class="form-group">
                                            <input type="text" name="subject" value="" placeholder="Subject" required>
                                        </div>
                                    </div>
                                    <div class="column col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <textarea name="message" placeholder="Massage"></textarea>
                                        </div>
                                    </div>
                                    <div class="column col-md-12 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <button type="submit" class="theme-btn">Submit Now</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact Form Section -->
{% endblock %}