<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <!-- Main Footer -->
    <footer class="main-footer padding-top">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section"> 
                <div class="row clearfix">
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                       <div class="logo footer-logo">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'images/logo-2.png' %}" alt="Footer Logo">
                            </a>
                            </div>
                        <div class="footer-widget subscribe-widget">
                            <div class="widget-content">
                                <div class="text">
                                    <h4>Let’s join & create something together</h4>
                                    <p>Must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and will give you completed.</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget links-widget">
                            <div class="widget-title"><h2>Usefull Links</h2></div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="{% url 'home' %}#about-company">About Company</a></li>
                                    <li><a href="market-sector.html">Our Services</a></li>
                                    <li><a href="{% url 'project_list'%}">Projects</a></li>
                                    <li><a href="{% url 'product_list'%}">Shop Products</a></li>
                                    <li><a href="{% url 'faqs'%}">FAQ’s</a></li>
                                    <li><a href="{% url 'contact_us'%}">Contact Us</a></li>
                                    <li><a href="{% url 'privacy_policy'%}">Private Policy</a></li>
                                </ul>
                            </div>
                        </div>  
                    </div>   

                    <!--Footer Column-->
                    <div class="footer-column col-md-4 col-sm-6 col-xs-12">
                        <div class="footer-widget contact-widget">
                            <div class="single-contact-widget">
                                <div class="icon-box">
                                    <i class="machinery-icon-telephone"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h3>For Business Dealing:</h3>
                                    <span>888-000-1234</span>
                                    <p>Available 9:00 - 7:00 all days.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-contact-widget -->
                            <div class="single-contact-widget">
                                <div class="icon-box">
                                    <i class="machinery-icon-map"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <p>Big Smart Stareet, 2nd Cross <br> Newyork, USA 1002.</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-contact-widget -->
                            <div class="single-contact-widget">
                                <div class="icon-box">
                                    <i class="machinery-icon-send"></i>
                                </div><!-- /.icon-box -->
                                <div class="text-box">
                                    <h3>Mail Us at</h3>
                                    <p>Machinery@support.com</p>
                                </div><!-- /.text-box -->
                            </div><!-- /.single-contact-widget -->
                        </div>
                    </div>      
                </div>
            </div>
        </div>
        
        <!--Footer Bottom-->
         <div class="footer-bottom">
            <div class="auto-container clearfix">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 text-left">
                       
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="copyright-text">&copy; 2025 All Rights Reserved by <a href="{% url 'home'%}">Machinery</a></div>                        
                    </div><!-- /.col-md-4 -->
                    <div class="col-md-4 col-sm-4 col-xs-12 text-right">
                        <ul class="footer-menu">
                            <li><a href="{% url 'privacy_policy'%}">Privacy</a></li>
                            <li><a href="{% url 'privacy_policy'%}">Terms of Use</a></li>                           
                        </ul><!-- /.footer-menu -->
                    </div><!-- /.col-md-4 -->
                </div><!-- /.row -->
            </div>
        </div>
    </footer>
    <!-- End Main Footer -->
</div>    
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="icon fa fa-arrow-up"></span></div>

 {% block content %}
    {% endblock %}

<!--Scroll to top-->

</html> 
   

