{% load static %}
    <!-- Main Header-->
    <header class="main-header style-two">

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">   
                   <div class="pull-left logo-outer">
                        <div class="logo">
                            <a href="{% url 'home' %}">
                            <img class="site-logo" src="{% static 'images/logo.png' %}" alt="Logo" title="Machinery Logo">
                            </a>
                        </div>
                        </div>
                    <div class="pull-right upper-right clearfix">

                    <!-- Contact Info -->
                    <div class="upper-column info-box contact-info">
                        <div class="icon-box">
                            <span class="machinery-icon-contact"></span>
                        </div>
                        <ul>
                            <li>1-800-784-533 & 544</li>
                            <li><strong>Machinery@Support.com</strong></li>
                        </ul>
                    </div>

                    <!-- Social Icons -->
                    <div class="upper-column info-box social-info">
                        <div class="social-icons">
                            <a href="https://www.facebook.com/elecmech.pak" target="_blank"><i class="fa fa-facebook-f"></i></a>
                            <a href="https://www.linkedin.com/in/zohaib-khan-3aba1644/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="auto-container">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="{% url 'our_vision' %}">About Us</a><ul>
                                    <li><a href="{% url 'our_vision' %}">Our Vision</a></li>
                                    <li><a href="{% url 'team_list' %}">Our Team</a></li>
                                    <li><a href="{% url 'our_mission' %}">Our Mission</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="{% url 'market_sector' %}">Market Sectors</a>
                                    <ul>
                                        <li><a href="{% url 'market_sector' %}">Market Sectors</a></li>
                                        <li><a href="{% url 'educational_trainers' %}">Educational Trainers</a></li>
                                        <li><a href="{% url 'industrial_trainers' %}">Industrial Trainers</a></li>
                                        <li><a href="{% url 'testing_benches' %}">Testing Benches</a></li>
                                        <li><a href="{% url 'textile_sector' %}">Textile</a></li>
                                        <li><a href="{% url 'cement' %}">Cement</a></li>
                                        <li><a href="{% url 'fmcg' %}">FMCG</a></li>
                                        <li><a href="{% url 'chemicals' %}">Chemicals</a></li>
                                    </ul>
                                </li>
                               <li>
                                <a href="{% url 'products' %}">Products</a>
                                </li>
                                <li>
                                    <a href="{% url 'project_list' %}">Projects</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact_us'%}">Contact Us</a>                                    
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Outer Box-->
                    <div class="outer-box">
                        <div class="link-box"><a href="contact.html" class="theme-btn btn-style-one">Get a Quote</a></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
               <!--Logo-->
                <div class="logo pull-left header-logo">
                <a href="{% url 'home' %}" class="img-responsive">
                    <img src="{% static 'images/logo-small.png' %}" alt="Logo" title="Machinery Logo">
                </a>
                </div>
                  <!--Right Col-->
                  <div class="right-col pull-right">
                     <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                             <ul class="navigation clearfix">
                               <li><a href="{% url 'home' %}"><h4>Home</h4></a></li>
                               <li class="dropdown">
                                    <a href="{% url 'our_vision' %}"><h4>About Us</h4></a>
                                    <ul>
                                        <li><a href="{% url 'our_vision' %}"><h4>Our Vision</a></li>
                                        <li><a href="{% url 'team_list' %}">Our Team</a></li>
                                        <li><a href="{% url 'our_mission' %}">Our Mission</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="{% url 'market_sector' %}"><h4>Market Sectors</h4></a>
                                    <ul>
                                        <li><a href="{% url 'market_sector'%}">Market Sectors</a></li><li>
                                        <a href="{% url 'cement' %}">Construction Products</a></li>
                                        <li><a href="{% url 'fmcg' %}">Aero Space Services</a></li>
                                        <li><a href="{% url 'chemicals' %}">Railway Infrastructure</a></li>
                                    </ul>
                                </li>
                                <li>
                                <a href="{% url 'products' %}"><h4>Products</h4></a>
                                </li>
                                </li>
                                <li><a href="{% url 'project_list' %}"><h4>Projects</h4></a>
                                </li> 
                                <li><a href="{% url 'contact_us'%}"><h4>Contact Us</h4></a>                                    
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    </header>
    <!--End Main Header -->
