{% load static %}
    <!-- Main Header-->
    <header class="main-header style-two">

        <!--Header-Upper-->
        <div class="header-upper">
            <div class="auto-container">
                <div class="clearfix">
                    
                    <div class="pull-left logo-outer">
                       <div class="logo">
                    <a href="{% url 'home' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" title="Machinery Logo">
                    </a>
                    </div>
                    </div>
                    
                    <div class="pull-right upper-right clearfix">
                        
                        <!--Info Box-->
                        {% comment %} <div class="upper-column info-box">
                            <div class="icon-box"><span class="machinery-icon-map"></span></div>
                            <ul>
                                <li>13, Big Smart Str, 2nd Cross</li>
                                <li><strong>Newyork, USA 1002.</strong></li>
                            </ul>
                        </div>
                         {% endcomment %}
                        <!--Info Box-->
                        <div class="upper-column info-box">
                            <div class="icon-box"><span class="machinery-icon-contact"></span></div>
                            <ul>
                                <li>1-800-784-533 & 544</li>
                                <li><strong>Machinery@Support.com</strong></li>
                            </ul>
                        </div> 
                        
                        <!--social Box-->
                        <div class="upper-column info-box">
                            <div class="social-icons">
                                <a href="#"><i class="fa fa-facebook-f"></i></a><!--
                                --><a href="#"><i class="fa fa-twitter"></i></a><!--
                                --><a href="#"><i class="fa fa-linkedin"></i></a>
                            </div><!-- /.social-icons -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Header Upper-->
        
        <!--Header Lower-->
        <div class="header-lower">
            
            <div class="auto-container">
                <div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                            <ul class="navigation clearfix">
                                <li>
                                    <a href="{% url 'home' %}">Home</a>
                                </li>
                                <li class="dropdown">
                                    <a href="{% url 'our_vision' %}">About Us</a><ul>
                                    <li><a href="{% url 'our_vision' %}">Our Vision</a></li>
                                    <li><a href="{% url 'our_team' %}">Our Team</a></li>
                                    <li><a href="{% url 'our_mission' %}">Our Mission</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="{% url 'market_sector' %}">Market Sectors</a>
                                    <ul>
                                        <li><a href="{% url 'market_sector' %}">Market Sectors</a>
                                        </li><li><a href="{% url 'construction_products'%}">Construction Products</a></li>
                                        <li><a href="{% url 'aero_space_service'%}">Aero Space Services</a></li>
                                        <li><a href="{% url 'railway_infrastructure'%}">Railway Infrastructure</a></li>
                                        <li><a href="{% url 'ship_building_industry'%}">Ship Building Industry</a></li>
                                        <li><a href="{% url 'power_energy'%}">Power and Energy</a></li>
                                        <li><a href="{% url 'power_energy'%}">Automative System</a></li>
                                    </ul>
                                </li>
                               <li class="dropdown">
                                <a href="{% url 'products' %}">Products</a>
                                <ul>
                                    <li><a href="{% url 'products' %}">All Products</a></li>
                                    <li><a href="{% url 'product_singal'%}">Product Detail</a></li>
                                </ul>
                                </li>
                                <li>
                                    <a href="{% url 'projects' %}">Projects</a>
                                </li>
                                <li>
                                    <a href="{% url 'contact_us'%}">Contact Us</a>                                    
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <!-- Outer Box-->
                    <div class="outer-box">
                        <div class="link-box"><a href="contact.html" class="theme-btn btn-style-one">Get a Quote</a></div>
                    </div> 
                </div>
            </div>
        </div>
        <!--End Header Lower-->
        
        <!--Sticky Header-->
        <div class="sticky-header">
            <div class="auto-container clearfix">
                <!--Logo-->
                <div class="logo pull-left">
                  <a href="{% url 'home' %}" class="img-responsive">
                         <img src="{% static 'images/logo-small.png' %}" alt="Logo" title="Machinery Logo">
                         </a>
                   </div>
                  <!--Right Col-->
                  <div class="right-col pull-right">
                     <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->      
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        
                        <div class="navbar-collapse collapse clearfix">
                             <ul class="navigation clearfix">
                               <li><a href="{% url 'home' %}">Home</a></li>
                               <li class="dropdown">
                                    <a href="{% url 'our_vision' %}">About Us</a>
                                    <ul>
                                        <li><a href="{% url 'our_vision' %}">Our Vision</a></li>
                                        <li><a href="{% url 'our_team' %}">Our Team</a></li>
                                        <li><a href="{% url 'our_mission' %}">Our Mission</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="{% url 'market_sector' %}">Market Sectors</a>
                                    <ul>
                                        <li><a href="{% url 'market_sector'%}">Market Sectors</a></li><li>
                                        <a href="{% url 'market_sector'%}">Construction Products</a></li>
                                        <li><a href="{% url 'aero_space_service'%}">Aero Space Services</a></li>
                                        <li><a href="{% url 'railway_infrastructure'%}">Railway Infrastructure</a></li>
                                        <li><a href="{% url 'ship_building_industry'%}">Ship Building Industry</a></li>
                                        <li><a href="{% url 'power_energy'%}">Power and Energy</a></li>
                                        <li><a href="{% url 'automative_system'%}">Automative System</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                <a href="{% url 'products' %}">Products</a>
                                <ul>
                                    <li><a href="{% url 'products' %}">All Products</a></li>
                                    <li><a href="{% url 'product_singal'%}">Product Detail</a></li>
                                </ul>
                                </li>
                                </li>
                                <li><a href="{% url 'projects' %}">Projects</a>
                                </li> 
                                <li><a href="{% url 'contact_us'%}">Contact Us</a>                                    
                                </li>
                            </ul>
                        </div>
                    </nav><!-- Main Menu End-->
                </div>
            </div>
        </div>
        <!--End Sticky Header-->
    </header>
    <!--End Main Header -->
