{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Machinery{% endblock %}
{% block content %}

 <section class="page-title" style="background-image: url({% static 'images/background/2.jpg' %})">
    <div class="auto-container">
           <h1>Our Mission</h1>
        <ul class="page-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'our_mission' %}">Our Misson</a></li>
        </ul>
    </div>
</section>
<!-- mission description  -->
          <div class="industry-section">
          <div class="auto-container">
               <div class="sec-title text-center">
                   <h3>
                    Our mission is to deliver innovative, reliable, and high-quality solutions 
                    that empower businesses and inspire growth. 
                    We work with honesty, passion, and commitment 
                    to ensure client satisfaction and long-term success.
                   </h3>
                </div>
          </div>
          </div>

        <div class="industry-carousel owl-carousel owl-theme">
            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-1.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-man-welding"></span></div>
                     <h3><a href="#">Passionate</a></h3>
                     <div class="text">There anyone who loves or pursues sed desires obtain pain of itself.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block bg-gray">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-2.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-robot-arm"></span></div>
                     <h3><a href="#">Honest & Depandable</a></h3>
                     <div class="text">Any right to find fault with a man ut who chooses to enjoy a pleasure.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-3.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-industry"></span></div>
                     <h3><a href="#">Work Satisfaction</a></h3>
                     <div class="text">Expound the actual teaching of the great explorer of the truth, the master.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block bg-gray">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-4.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-list"></span></div>
                     <h3><a href="#">Awesome Support</a></h3>
                     <div class="text">Occur in which toil and pain can procure him some great pleasure.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-5.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-gear"></span></div>
                     <h3><a href="#">Ontime Delivery</a></h3>
                     <div class="text">Expound the actual teaching of the great explorer of the truth, the master.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block bg-gray">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/industry-2.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-robot-arm"></span></div>
                     <h3><a href="#">Honest & Depandable</a></h3>
                     <div class="text">Any right to find fault with a man ut who chooses to enjoy a pleasure.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Industry Section -->

    <!-- Call To Action -->
    <section class="call-to-action" style="background-image: url(images/background/3.jpg);">
        <div class="auto-container">
            <div class="inner-container clearfix">
                <div class="text-box"><p>Innovative products and service for construction projects and Automative service.</p></div>
                <div class="btn-box"><a href="projects.html" class="theme-btn btn-style-one">Our Latest Projects</a></div>
            </div>
        </div>
    </section>
    <!--End Call To Action -->
{% endblock %}