{% extends 'base.html' %}
{% load static %}
{% block title %}Electromechanica - Our Mission{% endblock %}
{% block content %}

 <section class="page-title" style="background-image: url({% static 'images/background/222.jpg' %})">
    <div class="auto-container">
           <h1>Our Mission</h1>
        <ul class="page-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'our_mission' %}">Our Misson</a></li>
        </ul>
    </div>
</section>
<!-- mission description  -->
<div class="mission-page">

          <div class="industry-section">
          <div class="auto-container ">
               <div class="sec-title text-center">
                   <h2>Our Mission</h2>
                   <h4>Driving Efficiency. Inspiring Innovation.</h4>

                    <p>At Electromechanica, our mission is to provide the technical foundation for industrial success. We achieve this through two core commitments:</p>
                    <br>
                    <p><strong>1. Sustaining Operations:</strong> Delivering a diverse portfolio of genuine, multi-brand industrial spares to ensure smooth, uninterrupted, and efficient operations across all sectors.</p>
                    <br>
                    <p><strong>2. Advancing Skills:</strong> Manufacturing state-of-the-art engineering training systems that set the global benchmark for technical education and professional development.</p>
                    <br>
                    <p>Through the adoption of advanced technology and a focus on precision engineering, we empower industries to reduce downtime and empower educators to inspire the next generation of engineers.</p>
                </div>
          </div>
          </div>

        <div class="industry-carousel owl-carousel owl-theme">
            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/mission4.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-man-welding"></span></div>
                     <h3><a href="#">Passionate</a></h3>
                     <div class="text">Driven by passion, we innovate and excel in electromechanical solutions, delivering quality, efficiency, and unmatched dedication in every project.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block bg-gray">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/mission1.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-robot-arm"></span></div>
                     <h3><a href="#">Honest & Depandable</a></h3>
                     <div class="text">Committed to honesty and reliability, we build trust with our clients through transparent practices and dependable electromechanical solutions.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/mission3.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-industry"></span></div>
                     <h3><a href="#">Work Satisfaction</a></h3>
                     <div class="text">Delivering excellence in every project while ensuring our team and clients experience satisfaction, growth, and a sense of achievement.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block bg-gray">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/misson5.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-list"></span></div>
                     <h3><a href="#">Awesome Support</a></h3>
                     <div class="text">Providing awesome support, we ensure our clients receive prompt, reliable assistance, making every electromechanical project smooth and hassle-free.</div>
                </div>
            </div>

            <!-- Industry Block -->
            <div class="industry-block">
                <div class="image-box">
                    <div class="image"><a href="market-sector-single.html"><img src="{% static 'images/resource/missiob2.jpg'%}" alt=""></a></div>
                </div>
                <div class="lower-content">
                     <div class="icon-box"><span class="icon flaticon-gear"></span></div>
                     <h3><a href="#">Ontime Delivery</a></h3>
                     <div class="text">Committed to on-time delivery, we ensure every electromechanical project is completed promptly without compromising on quality or precision.</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Industry Section -->
{% endblock %}