{% extends 'base.html' %}
{% load static %}
{% block title %}Home - Machinery{% endblock %}
{% block content %}
  <section class="page-title" style="background-image: url({% static 'images/background/2.jpg' %})">
    <div class="auto-container">
         <h1>Meet Our Team</h1>
        <ul class="page-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'our_team' %}">Our Team</a></li>
        </ul>
    </div>
</section>
    <!-- Team Section -->
    <section class="team-section">
        <div class="auto-container">
            <div class="sec-title text-center">
              
            </div>
            <div class="row clearfix">
                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-1.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">Morgan Campbell</h3>
                            <span class="designation">Founder</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-2.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">William Robertson</h3>
                            <span class="designation">President</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-3.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">Ashlynn Williams</h3>
                            <span class="designation">Engineer</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-4.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">Dardern Curthbert</h3>
                            <span class="designation">Engineer</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-5.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">Roedge Philander</h3>
                            <span class="designation">Team Leader</span>
                        </div>
                    </div>
                </div>

                <!-- Team Block -->
                <div class="team-block col-md-4 col-sm-6 col-xs-12">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure><img src="{% static 'images/resource/team-6.jpg'%}" alt=""></figure>
                            <div class="overlay-box">
                                <ul class="social-links">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="lower-content">
                            <div class="email"><a href="#"><span class="flaticon-email-1"></span></a></div>
                            <h3 class="name">Felicity BNovarge</h3>
                            <span class="designation">Manager</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Team Section -->
    {% endblock %}