
{% extends 'base.html' %}
{% load static %}
{% block title %}Our Vision{% endblock %}
{% block content %}

    <!--Page Title-->
   <section class="page-title" style="background-image: url({% static 'images/background/2.jpg' %})">
    <div class="auto-container">
        <h1>Our Vision</h1>
        <ul class="page-breadcrumb">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'our_vision' %}">Our Vision</a></li>
        </ul>
    </div>
</section>

    <!--End Page Title-->

    <!-- About Us -->
    <section class="about-section-two">
        <div class="auto-container">
            <div class="outer-box clearfix" style="background-image:url({% static 'images/background/4.jpg'%});">
                <div class="highlight-box">
                    <div class="info-carousel owl-carousel owl-theme">
                        <!-- About Block -->
                        <div class="about-block-two">
                            <div class="icon-box"><span class="icon flaticon-house"></span></div>
                            <h3>ISO Cerfitied Company</h3>
                            <div class="text">Explain to you how this mistaken denouncing pleasure and praising pain was born & will give complete account of the system.</div>
                        </div>

                        <!-- About Block -->
                        <div class="about-block-two">
                            <div class="icon-box"><span class="icon flaticon-house"></span></div>
                            <h3>Smart Technology</h3>
                            <div class="text">Explain to you how this mistaken denouncing pleasure and praising pain was born & will give complete account of the system.</div>
                        </div>

                        <!-- About Block -->
                        <div class="about-block-two">
                            <div class="icon-box"><span class="icon flaticon-house"></span></div>
                            <h3>Team of Professionals</h3>
                            <div class="text">Explain to you how this mistaken denouncing pleasure and praising pain was born & will give complete account of the system.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End About Us -->

    <!-- Story Section -->
    <section class="story-section">
        <div class="auto-container">
            <div class="sec-title">
                 <h2>Story About Machinery</h2>
            </div>
            <div class="row clearfix">
                <div class="content-column col-md-12 col-sm-12 col-xs-12">
                    <div class="inner-column">
                        <h3>We are leading manufacturing company in european countries.</h3>
                        <div class="text">
                            <p>Built enviable reputation in consumer goods, heavy industry, high tech, manufacturing, medical, vehicle  our  works sectors multi disciplinary team of engineering & experts, who  pursues desires obtains pains itself  there anyone loves or pursues desires  obtain except to obtain some advantages from it? But who has any right to find fault.</p>

                            <p>Idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                        </div>
                        <div class="info">
                            <h4 class="name">Thomos Nicholes</h4>
                            <span class="designation">CEO / Founder</span>
                        </div>
                    </div>
                </div>

                
    </section>
    <!--End Story Section -->

{% endblock %}
